

.searchBar{
    outline: none;
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 30px;
    width: 400px;
    border: solid 1px #3098F2;
    margin-top: 50px;
}

.resultBox{
    margin-top: 40px;
    padding: 30px;
}