.writeBox{
    transition: 0.5s;
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: -100vh;
    right: 0px;
    box-shadow: 0px 5px 20px rgba(112, 112, 112, 0.5);
    text-align: start;
    max-height: 90vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    border: solid 1px rgba(112, 112, 112, 0.5);
    max-width: 500px;
    padding: 20px 30px;
}

.writeBoxActive{
    transition: 0.5s;
    bottom: 0px;
    opacity: 1;
}

.writeBox::-webkit-scrollbar{
    display: none;
}

.writeBoxEcrireBTN{
    background-color: #3098F2;
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
}

.writeBoxEcrireBTN:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

.writeBoxConfirmBTN:hover{
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.writeBoxConfirmBTN{
    background-color: #3098F2;
    width: 100px;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.writeBoxCancelBTN:hover{
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.writeBoxCancelBTN{
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.confirmRow{
    display: flex;
    justify-content: flex-end;
}

#editorBox{
    margin: 30px;
}

.topicEntete{
    margin: 40px auto;
    font-size: 25px;
    max-width: 600px;
    padding: 20px;
}

.topicEnteteTitre{
    color: #3098F2;
    text-align: start;
    font-weight: bold;
}

.topicEnteteDate{
    text-align: end;
    color: rgba(112, 112, 112, 1);
    font-size: 18px;
    font-style: italic;
}

.logo{
    height: 50px;
    margin-top: 10px;
}

.logo:hover{
    cursor: pointer;
}

.writeBoxEntete{
    display: flex;
}

.writeBoxEntete svg{
    height: 30px;
}

#inputReponseBox{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* width */
#inputReponseBox::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
#inputReponseBox::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
  /* Handle */
#inputReponseBox::-webkit-scrollbar-thumb {
    background: rgba(112, 112, 112, 0.5);
    border-radius: 10px;
}

.writeBoxEnteteTitre{
    margin: auto 10px;
    font-size: 20px;
}